# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-arm64
aiohttp=3.9.3=pypi_0
aiosignal=1.3.1=pypi_0
anyio=4.2.0=pyhd8ed1ab_0
asgiref=3.7.2=pypi_0
attrs=23.2.0=pypi_0
backoff=2.2.1=pypi_0
bcrypt=4.1.2=pypi_0
beautifulsoup4=4.12.3=pypi_0
blas=1.0=openblas
bs4=0.0.2=pypi_0
build=1.0.3=pypi_0
bzip2=1.0.8=h620ffc9_4
ca-certificates=2024.3.11=hca03da5_0
cachetools=5.3.2=pypi_0
certifi=2024.2.2=py312hca03da5_0
charset-normalizer=3.3.2=pypi_0
chroma-hnswlib=0.7.3=pypi_0
chromadb=0.4.23=pypi_0
click=8.1.7=py312hca03da5_0
coloredlogs=15.0.1=pypi_0
dataclasses-json=0.6.4=pypi_0
deprecated=1.2.14=pypi_0
dirtyjson=1.0.8=pypi_0
distro=1.8.0=py312hca03da5_0
exceptiongroup=1.0.4=py312hca03da5_0
expat=2.5.0=h313beb8_0
fastapi=0.109.2=pypi_0
filelock=3.13.1=pypi_0
flask=2.2.2=py312hca03da5_0
flask-cors=3.0.10=pyhd3eb1b0_0
flatbuffers=23.5.26=pypi_0
freetype=2.12.1=h1192e45_0
frozenlist=1.4.1=pypi_0
fsspec=2024.2.0=pypi_0
giflib=5.2.1=h80987f9_3
google-auth=2.28.1=pypi_0
googleapis-common-protos=1.62.0=pypi_0
greenlet=3.0.3=pypi_0
grpcio=1.62.0=pypi_0
h11=0.14.0=pyhd8ed1ab_0
h2=4.0.0=py312hca03da5_3
hpack=4.0.0=py_0
httpcore=1.0.2=pyhd8ed1ab_0
httptools=0.6.1=pypi_0
httpx=0.26.0=pyhd8ed1ab_0
huggingface-hub=0.20.3=pypi_0
humanfriendly=10.0=pypi_0
hyperframe=6.0.1=pyhd3eb1b0_0
icu=73.2=hc8870d7_0
idna=3.4=py312hca03da5_0
importlib-metadata=6.11.0=pypi_0
importlib-resources=6.1.1=pypi_0
itsdangerous=2.0.1=pyhd3eb1b0_0
jinja2=3.1.2=py312hca03da5_0
joblib=1.3.2=pypi_0
jsonpatch=1.33=pypi_0
jsonpointer=2.4=pypi_0
krb5=1.20.1=hf3e1bf2_1
kubernetes=29.0.0=pypi_0
langchain=0.1.16=pypi_0
langchain-community=0.0.33=pypi_0
langchain-core=0.1.44=pypi_0
langchain-text-splitters=0.0.1=pypi_0
langsmith=0.1.48=pypi_0
lcms2=2.16=ha0e7c42_0
leptonica=1.83.1=hc69d283_5
lerc=4.0.0=h9a09cb3_0
libarchive=3.7.2=hcacb583_1
libcxx=16.0.6=h4653b0c_0
libdeflate=1.19=hb547adb_0
libedit=3.1.20230828=h80987f9_0
libexpat=2.5.0=hb7217d7_1
libffi=3.4.4=hca03da5_0
libgfortran=5.0.0=11_3_0_hca03da5_28
libgfortran5=11.3.0=h009349e_28
libiconv=1.17=h0d3ecfb_2
libjpeg-turbo=3.0.0=hb547adb_1
libopenblas=0.3.21=h269037a_0
libpng=1.6.39=h80987f9_0
libpq=12.17=h02f6b3c_0
libsqlite=3.44.2=h091b4b1_0
libtiff=4.6.0=ha8a6c65_2
libwebp=1.3.2=hf30222e_1
libwebp-base=1.3.2=h80987f9_0
libxcb=1.15=hf346824_0
libxml2=2.12.3=h0d0cfa8_0
libzlib=1.2.13=h53f4e23_5
llama-index=0.10.10=pypi_0
llama-index-agent-openai=0.1.5=pypi_0
llama-index-cli=0.1.5=pypi_0
llama-index-core=0.10.12=pypi_0
llama-index-embeddings-openai=0.1.6=pypi_0
llama-index-indices-managed-llama-cloud=0.1.3=pypi_0
llama-index-legacy=0.9.48=pypi_0
llama-index-llms-openai=0.1.6=pypi_0
llama-index-multi-modal-llms-openai=0.1.4=pypi_0
llama-index-program-openai=0.1.4=pypi_0
llama-index-question-gen-openai=0.1.3=pypi_0
llama-index-readers-file=0.1.5=pypi_0
llama-index-readers-llama-parse=0.1.3=pypi_0
llama-index-vector-stores-chroma=0.1.4=pypi_0
llama-parse=0.3.4=pypi_0
llamaindex-py-client=0.1.13=pypi_0
llvm-openmp=14.0.6=hc6e5704_0
lz4-c=1.9.4=h313beb8_0
lzo=2.10=h1a28f6b_2
markupsafe=2.1.1=py312h80987f9_0
marshmallow=3.20.2=pypi_0
mmh3=4.1.0=pypi_0
monotonic=1.6=pypi_0
mpmath=1.3.0=pypi_0
multidict=6.0.5=pypi_0
mypy-extensions=1.0.0=pypi_0
ncurses=6.4=h313beb8_0
nest-asyncio=1.6.0=pypi_0
networkx=3.2.1=pypi_0
nltk=3.8.1=pypi_0
numpy=1.26.0=py312h7f4fdc5_0
numpy-base=1.26.0=py312he047099_0
oauthlib=3.2.2=pypi_0
onnxruntime=1.17.0=pypi_0
openai=1.14.3=pyhd8ed1ab_0
openjpeg=2.5.0=h4c1507b_3
openssl=3.2.0=h0d3ecfb_1
opentelemetry-api=1.23.0=pypi_0
opentelemetry-exporter-otlp-proto-common=1.23.0=pypi_0
opentelemetry-exporter-otlp-proto-grpc=1.23.0=pypi_0
opentelemetry-instrumentation=0.44b0=pypi_0
opentelemetry-instrumentation-asgi=0.44b0=pypi_0
opentelemetry-instrumentation-fastapi=0.44b0=pypi_0
opentelemetry-proto=1.23.0=pypi_0
opentelemetry-sdk=1.23.0=pypi_0
opentelemetry-semantic-conventions=0.44b0=pypi_0
opentelemetry-util-http=0.44b0=pypi_0
orjson=3.9.15=pypi_0
overrides=7.7.0=pypi_0
packaging=23.2=pypi_0
pandas=2.2.1=pypi_0
pillow=10.2.0=py312hac22aec_0
pip=23.3=py312hca03da5_0
posthog=3.4.2=pypi_0
protobuf=4.25.3=pypi_0
psycopg2=2.9.3=py312h80987f9_1
psycopg2-binary=2.9.9=pypi_0
pthread-stubs=0.3=h1a28f6b_1
pulsar-client=3.4.0=pypi_0
pyasn1=0.5.1=pypi_0
pyasn1-modules=0.3.0=pypi_0
pydantic=1.10.12=py312h80987f9_1
pymupdf=1.23.25=pypi_0
pymupdfb=1.23.22=pypi_0
pypdf=4.0.2=pypi_0
pypdf2=3.0.1=pypi_0
pypika=0.48.9=pypi_0
pyproject-hooks=1.0.0=pypi_0
pytesseract=0.3.13=pyhd8ed1ab_0
python=3.12.1=hdf0ec26_1_cpython
python-dateutil=2.8.2=pypi_0
python-dotenv=1.0.1=pypi_0
python_abi=3.12=4_cp312
pytz=2024.1=pypi_0
pyyaml=6.0.1=pypi_0
readline=8.2=h1a28f6b_0
regex=2023.12.25=pypi_0
requests=2.31.0=pypi_0
requests-oauthlib=1.3.1=pypi_0
rsa=4.9=pypi_0
scipy=1.11.3=py312hfa28a95_0
setuptools=68.0.0=py312hca03da5_0
six=1.16.0=pyhd3eb1b0_1
sniffio=1.3.0=py312hca03da5_0
soupsieve=2.5=pypi_0
sqlalchemy=2.0.27=pypi_0
sqlite=3.41.2=h80987f9_0
starlette=0.36.3=pypi_0
sympy=1.12=pypi_0
tenacity=8.2.3=pypi_0
tesseract=5.3.4=he632f33_0
tiktoken=0.6.0=pypi_0
tk=8.6.13=h5083fa2_1
tokenizers=0.15.2=pypi_0
tomli=2.0.1=pyhd8ed1ab_0
tqdm=4.66.2=pypi_0
typer=0.9.0=pypi_0
typing-extensions=4.9.0=py312hca03da5_1
typing-inspect=0.9.0=pypi_0
typing_extensions=4.9.0=py312hca03da5_1
tzdata=2024.1=pypi_0
urllib3=2.2.1=pypi_0
uvicorn=0.27.1=pypi_0
uvloop=0.19.0=pypi_0
watchfiles=0.21.0=pypi_0
websocket-client=1.7.0=pypi_0
websockets=12.0=pypi_0
werkzeug=2.2.3=py312hca03da5_0
wheel=0.41.2=py312hca03da5_0
wrapt=1.16.0=pypi_0
xorg-libxau=1.0.11=hb547adb_0
xorg-libxdmcp=1.1.3=h27ca646_0
xz=5.4.2=h80987f9_0
yarl=1.9.4=pypi_0
zipp=3.17.0=pypi_0
zlib=1.2.13=h53f4e23_5
zstd=1.5.5=hd90d995_0
